.projectCardContainer {
    cursor: pointer;
    width: fit-content;
}

.projectCardContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectStatusBar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addProjectContainer {
    width: 100%;
}

.projectColumnStatusSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectColumnStatusItem {
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
}

.projectColumnStatusItem.active {
    background-color: #007bff;
    color: white;
}