.taskInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskInput {
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}
.taskInputButton {
    width: 10%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}