.projectModalContent {
    width: 100%;
    height: 100%;
}

.projectModalName {
    width: fit-content;
    margin-right: auto;
    display: flex;
    
    cursor: pointer;
    height: 60px;
}

.projectDescription {
    width: fit-content;
    margin-right: auto;
    display: flex;
}

.projectStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.projectRoughPlan, .projectTasks {
    border: 1px solid #7a7a7a;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: scroll;
}
.roughPlanItem {
    display: flex;
}

