.toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    background-color: var(--background-primary);
    border-radius: 5px;
    flex-direction: column;
    gap: 0.5rem;
}

.toast-item {
    background-color: transparent;
    color: var(--color);
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    border: 1px solid var(--primary);
    border-radius: 5px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary);
    transition: width 0.1s linear;
}
/* 
.toast-success {
    background-color: var(--primary);
}   todo: make differents styles for each type of toast */

/* .toast-error {
    background-color: #f44336;
}

.toast-info {
    background-color: #2196f3;
} */
