.addProjectInput {
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.addProjectButton {
    width: 10%;
    max-width: 30px;
    padding: 0;
    margin: 0;
}