.rewardsColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    background: linear-gradient(
        var(--background-accent),
        #000
    );
    color: var(--color);
    border-radius: 5px;
    padding: 10px 5px;
}