.projectCardContainer {
    cursor: pointer;
    width: fit-content;
}

.projectCardContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectStatusBar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addProjectContainer {
    width: 100%;
}